<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
        <logger name="org.thymeleaf" level="WARN" />
        <logger name="org.hibernate" level="WARN" />
        <logger name="org.hibernate.SQL" level="DEBUG" />
        <logger name="org.apache.http" level="DEBUG" />
        <logger name="org.apache.http.wire" level="DEBUG" />
        <logger name="net.coding.ide" level="DEBUG" />
        <logger name="org.atmosphere" level="TRACE" />
    </springProfile>

    <springProfile name="prod">
        <root level="WARN">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE" />
        </root>
        <logger name="net.coding" level="WARN" />
        <logger name="org.apache.http" level="WARN" />
        <logger name="org.apache.http.wire" level="ERROR" />
        <logger name="org.thymeleaf" level="WARN" />
        <logger name="org.hibernate" level="WARN" />
        <logger name="org.hibernate.SQL" level="WARN" />
        <logger name="org.springframework" level="WARN" />
        <logger name="com.zaxxer" level="WARN" />
        <logger name="org.glassfish" level="WARN" />
    </springProfile>

</configuration>